/* Chat */
#chat .emote .text {
    font-family: 'Satisfy', sans-serif;}
#chat-messages .text {
    font-family: 'Satisfy', sans-serif;
    font-size: 13px;
    line-height: 20px;}
#chat .from {
    position: relative;
    margin-bottom: 3px;
    font-size: 13px;
    font-family: 'Satisfy', sans-serif;}
#chat-input-field {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 305px;
    height: 18px;
    !important outline: 0;
    border: 0;
    background: 0 0;
    color: #eee;
    font-family: 'Satisfy', sans-serif;
    font-size: 13px;}
