/* vinicius */ 
[data-cid^="36740873-"] .badge-box .bdg,
#user-rollover.id-36740873 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://i.imgur.com/UG4ciFh.jpg");
}    
