/* vinicius */ 
[data-cid^="36740873-"] .badge-box .bdg,
#user-rollover.id-36740873 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://imgur.com/bHSwhkt.jpg");
}    

.cm.message.deletable.id-36740873::before,
.cm.message.id-36740873::before {
    background-image: url(http://s00.yaplakal.com/pics/pics_original/1/2/2/3899221.jpg);    /* vinicius BACKGROUND */
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: -1;
    background-position-y: -180px;
    background-position-x: right;
}
#user-rollover.id-36740873 .thumb .avi {
    background: url(https://68.media.tumblr.com/cff351621aaf6999b19d89ffc65eea88/tumblr_osy0flJ3Ia1us0f8yo1_500.gif) center center / 180px no-repeat !important;
}

.cm.message.deletable.id-5639828::before,
.cm.message.id-5639828::before {
    background-image: url(https://i.pinimg.com/originals/d5/3c/12/d53c12e3a3994140ccb927fec61ab9db.png);    /* Pυrpp BACKGROUND */
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: -1;
    background-position-y: -290px;
    background-position-x: right;
}
.cm.message.deletable.id-27725443::before,
.cm.message.id-27725443::before {
    background-image: url(https://media.tenor.com/images/b1dc0f1bf6b1e887ccb9127d07c53451/tenor.png);    /* C a s c a BACKGROUND */
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: -1;
    background-position-y: -20px;
    background-position-x: right;
}
#user-rollover.id-27725443 .thumb .avi {
    background: url(http://pa1.narvii.com/6265/3fc22c06b8c821709b8f5adbc05fdae44b4dba6f_hq.gif) center center / 180px no-repeat !important;
}
.cm.message.deletable.id-5842493::before,
.cm.message.id-5842493::before {
    background-image: url(https://fanart.tv/fanart/music/5bae9c05-fabd-420f-b806-c5b8ba88bd7e/artistbackground/rbd-51218a67a905c.jpg);    /* Keyce BACKGROUND */
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: -1;
    background-position-y: -60px;
    background-position-x: right;
}
}
#user-rollover.id-5842493 .thumb .avi {
    background: url(https://media.tenor.co/images/08155e294b8e215b6c3d5be10ae62400/raw) center center / 180px no-repeat !important;
}
